<p>art-work works!</p>

<div class="artClass">
  <div class="name">
    <h3>{{name}}</h3>
    <h4>({{code}})</h4>
  </div>
  <div class="price">
    {{price}}
  </div>
  <div >
    {{setCar()}}


  </div>

</div>
<ul>
  <div style = "backgroundColor: green; width: 100px"> hello

  </div>
  <div style = "backgroundColor: purple; width: 100px"> how are you ?

  </div>
  <div style = "backgroundColor: blue; width: 100px" > my name is Andres

  </div>
</ul>
<div style = "backgroundColor: {{color}}" >
random text
</div>
<button type="button" name="button" (click)="divColor()"> Angular is tough</button>

<input type="text"  #task/>

<button (click) = "addTask(task.value)"> Add task</button>

<div >
  {{tarea}}
</div>
